@{
    ViewBag.Title = "Index";
}

<div id="profile">
    <div id="profileTitle">
        <p class ="titleText">Who?</p>
    </div>

   <div id="profileLeft">
        <p id="profileLeftHeader">About:</p>
        <div id="profileLeftBody">
            <p class ="profileText">I am junior developer with an interest in web and desktop application development.
                My areas of interest are web development, desktop applications development and database development.
                All three of theses areas I have had experience with during my year long apprenticeship with Wood Mackenzie.
                During my time there I was given a taster of all the fantastic flavours of IT and now I'm hungry for more!
            </p>
        </div>
   </div>

   <div id="profileRight">
       <p id="profileRightHeader">Areas of Interest:</p>
                <p class ="profileText"><b>Applications Development</b>
                <br />○ C# & Java
                <br />
                <b>Database Development</b>
                <br />○ MySQL & Oracle SQL
                <br />○ MSSQL & PLSQL
                <br />
                <b>Web Development </b>
                <br />○ HTML & CSS
                <br />○ ASP.NET MVC 4 & Spring MVC</p>
   </div>
</div>
<div id="mainBody">
    <div id="mainBodyTitle">
        <p class ="titleText">Education</p>
    </div>
    <div class="bodyBuilder" id="WLCWrapper">
        <div class="mainBodyLeft" id="WestLothianCollege
">
            <p class="mainBodyLeftHeader" id="WLCTitle">West Lothian College:</p>
        </div>
        <div class="mainBodyRight" id="WLCInfo">
            <p class="mainBodyLeftHeaderMini" id="HNC" >HNC Computing: 2012 - 2013</p>
            This course which has recently been modernised by SQA, -develops higher level skills and knowledge in software development and technical support, as well as developing core skills. It is suitable for individuals wanting to further their studies from NQ Computing or to develop a career in Computing or Information Technology. 
            <br />
            <br />
            <p class="mainBodyLeftHeaderMini" id="HND">HND Computing: 2013 - 2014</p>
            This course develops a wide range of specialist technical support skills, it also increases the knowledge required in using and supporting both stand-alone and networked computer systems. It is suitable for individuals who want to forge a career in computing or information technology or who wish to continue their studies at degree level.
            <br />
            <br />
        </div>
    </div>

    <div class="lineBreak" id="lineBreakAfterWLC">
    </div>

    <div class="bodyBuilder" id="QAWrapper">
        <div class="mainBodyLeft" id="QAApprenticeships">
            <p class="mainBodyLeftHeader" id="QATitle">QA Apprenticeships:</p>
        </div>
        <div class="mainBodyRight" id="QAInfo">
            <p class="mainBodyLeftHeaderMini" >SVQ Information Technology and Telecommunications Professionals: 2015 - 2016</p>
            The Diploma for Information Technology and Telecommunications Professionals at SCQF level 6 is primarily designed for work-based learners undertaking an IT and Telecommunications Professional Modern Apprenticeship as a computer hardware engineer, computer service technician, internet/web developer or professional telecommunications apprentice technician. The Diploma assesses work-based competence, together with underpinning knowledge and understanding, to enable learners to progress their IT career in the world of work.
            Competence qualifications are first and foremost about what people can do. They go beyond technical skills to include planning, problem solving, dealing with unexpected occurrences, working with other people, and applying the knowledge and understanding that underpins overall competence.
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<div id="experience">
    <div id="experienceTitle">
        <p class ="titleText">Experience</p>
    </div>
    <div class="bodyBuilder" id="WMWrapper">
        <div class="mainBodyLeft" id="WMTitle">
            <p class="mainBodyLeftHeader">Wood Mackenzie:</p>
        </div>
        <div class="mainBodyRight">
            <p class="mainBodyLeftHeaderMini" id ="TechApprentice" >Technology Apprentice: 2015 - 2016</p>
            <p id ="itApprenticeshipBody">Wood Mackenzie is a global energy, metals and mining research and consultancy group with an international reputation for supplying comprehensive data, written analysis and consultancy advice.
                <br />
                <br />
                My time at Wood Mackenzie was mostly spent rotating around the different areas of their technology department to gain a better feel and understanding of the various technologies and development styles used within a corporate enviroment.
                The three main areas I spent my time in were the <b>.NET, Java</b> and <b>SQL</b> team, where I spent a few months within each to get a taster of applications development, web development and database engineering.
                <br />
                <br />
                The apprenticeship was fantastic at enticing my appetite for technology and learning while working alongside industry leading developers who supported me to the best of their capacity every step of the way. 
                It was a fantastic introduction to the world of development and solidified my choice to pursue programming as a career.
            </p>
            <br />
            <br />
        </div>
    </div>
</div>

<div id="contact">
    <div id="contactTitle">
        <p class="titleText">Contact Info:</p>
    </div>
    <div class="bodyBuilder">
        <div class="mainBodyLeft">
            <p class="mainBodyLeftHeaderMini" id="emailAddress">Email Address: <a href="mailto:markypoole@gmail.com" target="_top">markypoole@gmail.com</a></p>
            <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
            <p class ="mainBodyLeftHeaderMini" id="linkedIn">LinkedIn:<a href="https://uk.linkedin.com/pub/mark-poole/10a/20b/57a">
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Mark Poole's profile on LinkedIn">
            </a></p>
        </div>
    </div>
</div>