@{
    ViewBag.Title = "Index";
}

<div id ="info">
    <div id="profile">
        <div id="profileTitle">
            <p class ="titleText">About Me:</p>
        </div>

       <div id="profileLeft">
            <p id="profileLeftHeader"><u>Who is Mark Poole?</u></p>
            <div id="profileLeftBody">
                <p class ="profileText">I am junior developer with an interest in web and desktop application development.
                    My areas of interest are primarily web,  desktop and database development but I'm always trying something new
                    and seeking the latest and greatest in development tools and frameworks!
                    <br />
                    <br />
                    I am currently seeking employment within an organisation that can provide me the with the support that will
                    allow me to further progress and develop my skills as a software developer. If you're looking for a up and coming
                    Junior Dev who isn't afraid of trying something new, then give me a shout! 
                    <br />
                    <br />
                    Contact me on LinkedIn or Twitter down below!
                </p>
            </div>
       </div>

       <div id="profileRight">
           <p id="profileRightHeader"><u>Areas of Interest:</u></p>
                    <p class ="profileText"><b>Applications Development</b>
                    <br />○ C# & Java
                    <br />
                    <br />
                    <b>Database Development</b>
                    <br />○ Oracle SQL, Including PL-SQL
                    <br />○ MS-SQL & MySQL
                    <br />
                    <br />
                    <b>Web Development </b>
                    <br />○ HTML & CSS
                    <br />○ ASP.NET MVC 4 & Spring MVC</p>
       </div>
    </div>
    <div id="mainBody">
        <div id="mainBodyTitle">
            <p class ="titleText">Education</p>
        </div>
            <div class="mainBodyLeft" id="WestLothianCollege">
                <p class="mainBodyLeftHeader" id="WLCTitle">West Lothian College:</p>
            </div>
            <div class="mainBodyRight" id="WLCInfo">
                <p class="mainBodyLeftHeaderMini" id="HNC" ><u>HNC Computing: 2012 - 2013 (Pass Mark: A)</u></p> 
                The HNC course was a fantastic introduction to the world of IT, including topics such as computer architecture, an introduction to software development as well as the fundamentals of project management.
                <br />
                <br />
                <p class="mainBodyLeftHeaderMini" id="HND"><u>HND Computing: 2013 - 2014 (Pass Mark: A)</u></p>
                While less of a mixed bag than the HNC, the HND has a greater focus on the more hardware side of IT, covering topics such as computer network architecture, server management and hardware diagnostics. 
                <br />
                <br />z
                Overall, my time at West Lothain College was an enjoyable one, kickstarting my appetite for learning about new technologies and helping to establish a foundation of knowledge which I built upon during my Apprenticeship with Wood Mackenzie.
                <br />
                <br />
            </div>
    
            <div class="mainBodyLeft" id="QAApprenticeships">
                <p class="mainBodyLeftHeader" id="QATitle">QA Apprenticeships:</p>
            </div>
            <div class="mainBodyRight" id="QAInfo">
                <p class="mainBodyLeftHeaderMini" ><u>Software & Web Development: 2015 - 2016</u></p>
                I completed the Software & Web Development apprenticeship during my time with Wood Mackenzie and was a key part of my
                learning and development throughout the year. The course was flexiable and was easily completed alongside my other work with minor interference.
                While a large bulk of the work was able to be completed within the Wood Mackenzie office, there were also 4 smaller courses that lasted 2 weeks 
                and were taught at the QA Apprenticeship centre.
                <br />
                <br />
                The apprenticeship itself was divided into 4 areas to be completed during the workplace and 4 to be completed at a QA centre and consisted of useful "soft" skills
                such as <i>"Health and Safety in IT & Telecoms"</i>, <i>"Investigating and Defining Customer Requirements"</i>, <i>"Interpersonal and Written Communications"</i> and <i>"Personal Effectiveness"</i>.
                <br />
                <br />
                During the courses within the QA centre, we covered three main topics. <b>.NET, SQL</b> and <b>Web Development</b>.
                <br />
                <br />
                <b><u>.NET C#</u></b>
                <br />
                The .NET course was actually comprised of two parts, the Basic course and the Advanced course which I will talk about from now on
                as a single course. As an introduction to C# development, we were taught the fundamentals of object orientated programming which 
                consisted of mostly manipulating data and performing calculation using C#.
                <br />
                After the first week allowed us to get to grips with the programming lanugage, we were introduced to the main topic of the course
                which was to develop a Windows Form application that will emulate an ATM system, allowing the user to "withdraw" cash which is deducted 
                from their account, which was held on a server that the application was connected to.
                <br />
                The application also had to contain numerious validation checks in place to prevent users from accidentally withdrawing more than their 
                account held or to enter an incorrect answer. The application was also required to "lock" the user if they tried to enter their PIN 
                incorrectly 3 times in a row.
                <br />
                <br />
                <b><u>SQL</u></b>
                <br />

                <br />
                <br />
                Alongside the projects I worked on during my time at Wood Mackenzie, the Apprenticeship was a great beginning and introduction into software development as well as
                functioning in an unfamiliar enviroment.
                <br />
                <br />
            </div>
    </div>

    <div id="experience">
        <div id="experienceTitle">
            <p class ="titleText">Experience</p>
        </div>
        <div class="bodyBuilder" id="WMWrapper">
            <div class="mainBodyLeft" id="WMTitle">
                <p class="mainBodyLeftHeader">Wood Mackenzie:</p>
            </div>
            <div class="mainBodyRight">
                <p class="mainBodyLeftHeaderMini" id ="TechApprentice" >Technology Apprentice: 2015 - 2016</p>
                <p id ="itApprenticeshipBody">Wood Mackenzie is a global energy, metals and mining research and consultancy group with an international reputation for supplying comprehensive data, written analysis and consultancy advice.
                    <br />
                    <br />
                    My time at Wood Mackenzie was mostly spent rotating around the different areas of their technology department to gain a better feel and understanding of the various technologies and development styles used within a corporate enviroment.
                    The three main areas I spent my time in were the <b>.NET, Java</b> and <b>SQL</b> team, where I spent a few months within each to get a taster of applications development, web development and database engineering.
                    <br />
                    <br />
                    The apprenticeship was fantastic at enticing my appetite for technology and learning while working alongside industry leading developers who supported me to the best of their capacity every step of the way. 
                    It was a fantastic introduction to the world of development and solidified my choice to pursue programming as a career.
                    <br />
                    <br />
                    <b><u>.NET C#</u></b>
                    <br />
                        During my time on the .NET team, I was tasked with designing and writing a C#-based desktop application
                        that will allow the loading, editing and saving of specific XML files and display them
                        in a specific format and required numerous meetings with the users of the
                        application to get a sense of what was required. The positive reaction from the users once I presented
                        a functioning version of the project to them was easily the highlight of my apprenticeshuip and cemented
                        software development as my career choice. 
                    <br />
                    <br />
                    <b><u>Java</u></b>
                    <br />
                        While working within the Java team, I assisted in the development of a D3 based (JavaScript library) 
                        web application to help visualise the sales of various types of reports. As a result of the
                        combined effort of myself and another apprentice, we were able to create a small
                        website that generated a pie chart from gathered data to display all reports sold by
                        the company, what the type of each report was, the amount sold and the total price
                        of all reports sold of each type.
                    <br />
                    <br />
                    <b><u>SQL</u></b>
                    <br />
                        I also assisted the database team with maintaining the database, correcting pre-existing code
                        issues as well as implimenting my own scripts to meet the various needs and requirements of the
                        database users. The database team relied heavily on SVN for version control, which I picked
                        up quickly during my time there. It was also my first experience with Dev, UAT and Prod 
                        enviroments and gave me a good understanding of the benefit of this type of testing. Having never
                        really used SQL outside of basic querying it was great to read the code written by some of the senior
                        developers and pick up a few neat little tricks here and there.
                    <br />
                    <br />
                    <b><u>Raspberry Pi</u></b>
                    <br />
                       During the year alongside other project work, I helped design and develop a website to run on a web server hosted on a Raspberry Pi
                       using Spring MVC Framework for Java that allows the user to generate feedback reports on
                       about a user stored in a database also held on the Pi.
                       The Raspberry Pi was an interesting challenge to work on, as nobody in the project has even touched Debian
                       in their entire life, let alone used a CLI for any serious work. Numerious issues arose which 
                       had to be tackled, including fighting with the internal firewall to allow the Pi to download
                       nessessary updates, but ultimately I managed to get both Apache Tomcat and a MySQL database
                       functioning on the Pi and communicating through the webpage we developed.
                       One of the biggests tasks we faced was porting the project from an Oracle SQL enviroment 
                       to the MySQL one, which led to me spending three solid days rewriting the actual program 
                       before it was compatable. It was great being able to sit down with something new and interesting
                       like the Pi and just have a tinker with it and I believe I learned a great deal about the Pi as a result.
                       During development, the project was presented to the CEO of the company along with the head of Technology department
                       and was well received. Overall, easily one of my favourite projects to work on alongside some great people.
                </p>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div id="contact">
        <div id="contactTitle">
            <p class="titleText">Contact Me!</p>
        </div>
        <div class="bodyBuilder">
            <div class="contactDetails">
                <p class ="mainBodyLeftHeaderMini" id="linkedIn">LinkedIn:<a href="https://uk.linkedin.com/pub/mark-poole/10a/20b/57a">
                    <img id="linkedInImage" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" alt="View my profile on LinkedIn!" />
                </a></p>
            </div>
        </div>
    </div>
</div>